# Mosaico Musical

### Musical recommender by Alberto Antón as a final project for the Master in Data Science of KSchool

In [44]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import io
import os
import sys

In [3]:
# display results to 3 decimal points, not in scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

### Load data

In [4]:
data_root = "data"

In [5]:
columns = ['user_id', 'song_id', 'num_plays']
datafile = os.path.join(data_root, "train_triplets.txt")
print(datafile)
data = pd.read_csv(datafile, 
                   sep='\t', 
                   header = None,
                   names = columns)
data.head()

data\train_triplets.txt

                                    user_id             song_id  num_plays
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995          1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9          1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B          2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22          1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494          1

In [6]:
data.describe()

         num_plays
count 48373586.000
mean         2.867
std          6.438
min          1.000
25%          1.000
50%          1.000
75%          3.000
max       9667.000

In [7]:
# Read songs dataset

In [8]:
columns = ["foo", "song_id", "artist", "title"]
datafile = os.path.join(data_root, "unique_tracks.txt")
all_songs = pd.read_csv(datafile, 
                        header = None,
                        sep = '<SEP>',
                        names = columns,
                        usecols = ["song_id", "artist", "title"],
                        encoding =  "utf-8",
                        engine = "python")

all_songs.head()

              song_id            artist              title
0  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  SOBNYVR12A8C13558C       Yerba Brava      Si Vos Querés
4  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [9]:
all_songs.describe()

                   song_id           artist   title
count              1000000          1000000  999985
unique              999056            72665  702000
top     SOUYQYY12AF72A000F  Michael Jackson   Intro
freq                     3              194    1511

In [10]:
# Number of songs in data
data.song_id.unique().shape[0]

384546

In [12]:
# Number of songs in all_songs
all_songs.song_id.unique().shape[0]

999056

In [13]:
# Let's keep only the songs that are in data
unique_songs_tmp = data.song_id.unique()
unique_songs_df = pd.DataFrame(unique_songs_tmp, columns = ['song_id'])

In [14]:
songs = unique_songs_df.merge(all_songs,
                       left_on = "song_id",
                       right_on = "song_id",
                       how = "left")[["song_id", "artist", "title"]]

In [15]:
songs.describe()

                   song_id        artist   title
count               385256        385256  385252
unique              384546         42062  306785
top     SOBPAEP12A58A77F49  Beastie Boys   Intro
freq                     3           139     526

In [16]:
songs.head()

              song_id         artist                            title
0  SOAKIMP12A8C130995   Jack Johnson                         The Cove
1  SOAPDEY12A81C210A9  Billy Preston             Nothing from Nothing
2  SOBBMDR12A8C13253B  Paco De Lucia                  Entre Dos Aguas
3  SOBFNSP12AF72A0E22     Josh Rouse            Under Cold Blue Stars
4  SOBFOVM12A58A7D494   The Dead 60s  Riot Radio (Soundtrack Version)

In [17]:
# Songs dataframe count is 385.256, while there are 384.546 unique songs. 
# The difference are duplicated songs

In [19]:
# Let's take a look
songs[songs.duplicated(subset=['song_id'], keep=False)].head(6)

                song_id         artist                title
9    SOBXHDL12A81C204C0     Kanye West             Stronger
10   SOBXHDL12A81C204C0     Kanye West             Stronger
184  SODGVGW12AC9075A8D  Justin Bieber     Somebody To Love
185  SODGVGW12AC9075A8D  Justin Bieber     Somebody To Love
191  SOKOXWU12AF72AD1BC         Eminem  The Real Slim Shady
192  SOKOXWU12AF72AD1BC         Eminem  The Real Slim Shady

In [20]:
# Remove those duplicates
songs.drop_duplicates(subset = "song_id", inplace = True)
songs.describe()

                   song_id        artist   title
count               384546        384546  384542
unique              384546         42055  306720
top     SOSSQIP12AB0186F0D  Beastie Boys   Intro
freq                     1           136     526

In [43]:
# Saving songs dataframe
songs.to_pickle("songs.pkl")

In [21]:
# Now count and unique are the same

In [46]:
# Remove all_songs from memory
all_songs = None

In [47]:
# Funcion that returns the artist and title of a song_id
def which_song(sid):
    return songs[songs["song_id"] == sid][["artist", "title"]]

In [48]:
which_song("SOSDCFG12AB0184647")

                artist title
26444  Lena Philipsson   006

As this dataset is part of a closed competition, there is no test set, so we have to create it from the train set.

If we want to recommend something to a new user, either we know something about him or we can't but recommend the most popular songs.

Let's go for the first option, so we'll present the user random songs until he selects 10 that he likes

In [49]:
# Let show random artists, then the users selects an artis an we present its songs. The users selects
# thos he likes (or none)

In [50]:
# Show random artist
songs.artist.sample(20)

160353       Clube Do Balanco
110877                Emarosa
372427       Conjunto Clasico
219499            Prem Joshua
305977             Marc Ribot
254931     Nick Glennie-Smith
123339            Fiona Apple
270419                    ZPU
78858                   Kinky
155660              The Dears
33642           The Melodians
41224      Magtens Korridorer
69090              Elton John
64753           Lucila Campos
372301                  Mia X
75538                Deadsoil
237291          Dulce Liquido
332277       Long Tall Texans
13755     Jean-Yves Thibaudet
218444                  Becky
Name: artist, dtype: object

In [41]:
# Function that shows the songs of an artist
def songs_by(artist_id):
    return songs[songs["artist"] == artist_id][["song_id", "title"]]

In [42]:
songs_by("The Waterboys")

                   song_id                                              title
23627   SOIQRKG12A6D4F63A3                            Rags (Second Amendment)
36813   SOYQYTX12AB0186FFA                                      Bury My Heart
56909   SOYCNZF12A6D4F7F87                                  Fisherman's Blues
79882   SOGEJMW12A6D4F8626           When Will We Be Married (1987 Recording)
79887   SOLPBTJ12A6D4F5757                        The Dance At The Crossroads
79900   SOPTUEN12A6D4F5751                              Every Breath Is Yours
79914   SOWICCP12A6D4F5756                Always Dancing_ Never Getting Tired
97338   SOPARQV12A58A79DC9                                      A Pagan Place
115100  SODAYPE12A6D4F7F8E                                    This Is The Sea
175762  SOLLIIT12A8C133154        A Song For The Life (2008 Digital Remaster)
188588  SOCNIWA12A6D4F921F                   December (2002 Digital Remaster)
188589  SOIBNYJ12A6D4FA7A3          The Three Day Man (2002 Digital Remaster)
188590  SOJBHVP12A6D4F91FF            Gala (Unedited) (2002 Digital Remaster)
217698  SOFITDM12A58A7C4D3                           Somebody Might Wave Back
229487  SOPQQJF12A6310D8FD      Further Up Further In (2008 Digital Remaster)
229489  SOVTHFZ12A8C1330DE                    In Search Of A Rose (Full Band)
229933  SOSDHSM12A8AE48ECF                                On My Way To Heaven
229978  SOBEOSE12A679C8094                                             Suffer
233018  SOUBGLT12AF72A97DB    It Should Have Been You (2002 Digital Remaster)
263473  SOMYLTP12A58A7CB05       A Girl Called Johnny (2002 Digital Remaster)
279819  SOARNBM12AB0186FFC  Out Of Control (BBC Radio 1's ''John Peel Show...
303893  SOIBOBB12A6D4F60BD         Savage Earth Heart (2002 Digital Remaster)
304506  SOEQNSB12A6D4F8622            When Ye Go Away (2006 Digital Remaster)
306404  SOTUGXL12AB0186FBD  Medicine Bow (Live On BBC Radio 1's ''The Tea ...
325951  SOCKSXQ12AB0183024                            My Lord_ What a Morning
372731  SOYZXHD12A6D4F7C50        In Search Of A Rose (2008 Digital Remaster)
372927  SOGGFDF12A8C134FE8    Upon The Wind And Waves (2008 Digital Remaster)
374363  SOOILCF12A8C13D3EA                                              Crown

In [ ]:
songs.sample(50)

In [ ]:
# Randomly selected songs for the test
selected_songs = ["SOBWKZB12A8C136891", "SOSWNMA12A6D4F796F", "SOXWOLZ12A8C135F54", "SONWNJJ12A67AD8492", \
                  "SOHQCOD12AB018316C", "SOFDKPU12A58A7A06A", "SOVKUHB12AAF3B3636", "SONJNVN12A6701C689", \
                  "SOMMXAD12A58A76FBF", "SOZYUBF12AB018337B"]

In [56]:
# Let's get the songs from a real user
datafile = os.path.join(data_root, "train_listenings.pkl")
user_list = pd.read_pickle(datafile)
train_user = pd.DataFrame(user_list, columns=['user_id', 'song_id', 'mun_plays'])
train_user.head()

                                    user_id             song_id mun_plays
0  00000b722001882066dff9d2da8a775658053ea0  SORDKNX12A8C13A45F         1
1  00000b722001882066dff9d2da8a775658053ea0  SOFLJQZ12A6D4FADA6         1
2  00000b722001882066dff9d2da8a775658053ea0  SOUBEXV12AB01804A4         1
3  00000b722001882066dff9d2da8a775658053ea0  SOKBXYC12A6D4F59D6         1
4  00000b722001882066dff9d2da8a775658053ea0  SOJOJUN12A8AE47E1D         1

In [57]:
train_user.describe()

                                         user_id             song_id mun_plays
count                                         10                  10        10
unique                                         1                  10         2
top     00000b722001882066dff9d2da8a775658053ea0  SOJOJUN12A8AE47E1D         1
freq                                          10                   1         9

In [59]:
# Lets make a list of songs from the train user
selected_songs = train_user['song_id']

In [88]:
# Titles of the songs played by the train user
train_user.merge(songs,
                left_on = 'song_id',
                right_on = 'song_id',
                how = 'inner')[['artist', 'title']]

                    artist                         title
0                    Giles        Replay (Album Version)
1                  Cartola                      Tive Sim
2              Miley Cyrus               Don't Walk Away
3             Jim Gaffigan    Gravy Drinker (LP Version)
4            Edwyn Collins       Superstar Talking Blues
5               Tab Benoit                     Jambalaya
6                MC Solaar               Nouveau western
7           Blue Man Group                Rods And Cones
8  John Parish / PJ Harvey                         Heela
9             Jim Gaffigan  Hooooot Pocket! (LP Version)

In [94]:
# Now let's find other users that listened to those songs
similar_users = data[data["song_id"].isin(selected_songs)]['user_id'].reset_index(name='user_id')

In [95]:
similar_users.head()

   index                                   user_id
0   2030  2b6c2f33bc0e887ea7c4411f58106805a1923280
1   3047  b6b799f34a204bd928ea014c243ddad6d0be4f8f
2   3272  732f88be38fae217f8ab7e24c20dd072436e3e40
3   4035  9fba771d9731561eba47216f6fbfc0023d88641b
4   4111  62f2f9b881dc320d745a90c0c10528d18e10deb1

In [83]:
similar_users.describe()

             index
count    75588.000
mean  24087314.656
std   13933310.624
min       2030.000
25%   11970264.750
50%   24156641.000
75%   36118919.000
max   48373263.000

In [89]:
# Create a data frame with all the songs of our similar users
# What for???
similar_users_plays = data.merge(similar_users, 
                           left_on = 'user_id', 
                           right_on = 'user_id', 
                           how = 'inner')[["user_id", "song_id", "num_plays"]]

In [90]:
similar_users_plays.head()

                                    user_id             song_id  num_plays
0  2b6c2f33bc0e887ea7c4411f58106805a1923280  SOAUWYT12A81C206F1          6
1  2b6c2f33bc0e887ea7c4411f58106805a1923280  SOBMPJM12A8C13BAE2          1
2  2b6c2f33bc0e887ea7c4411f58106805a1923280  SOBONKR12A58A7A7E0          2
3  2b6c2f33bc0e887ea7c4411f58106805a1923280  SOBYSSP12AAF3B32CA          2
4  2b6c2f33bc0e887ea7c4411f58106805a1923280  SOCBDPR12A6701F792          1

In [91]:
similar_users_plays['song_id'].describe()

count                5336240
unique                219078
top       SOFLJQZ12A6D4FADA6
freq                   60803
Name: song_id, dtype: object

In [98]:
# Let's see how many of our songs those users have played

data[data["song_id"].isin(selected_songs)].groupby(['user_id']).size().sort_values(ascending = False)

user_id
00000b722001882066dff9d2da8a775658053ea0    10
20ff5a5506da7eef77835a0fe84a006e3c525a39     6
a32cfe061d740a7236d8727946f81f1a15c7028f     6
94e3357310cd860548432d5fb68a88c3032ca1e8     6
ed6426b2069480821ad8271b8c47ddd6df2ff674     5
edb5a29d03eb009f100aab5999aceb530c07a065     5
8b8f370f1bcbea4fc8b82fda3befb80bb9533253     5
9f85a4c39ee437c73fca1cb43b09e7283a06f9de     5
970b23b0a4a725d51545c9a6e333500a48271b03     5
2343b6f1e4b7408f7463aa5c00008296a6822dbf     5
340bc3cfcc095dc8ef3a90f83839b77c232ffa58     5
70d1b8f61b9b79c4fba9f764807bff3d02e6c647     5
8e56e10637928a0bd88409211e06232ddf0f0e32     5
96c8d38bbb32ef781b96b33e50ad9c03eb62c340     5
aab42f141f70914c82ccca5cecee6942270ee588     5
44ace73d853dbe305c67dca4f1b02913e3075450     5
47988192adad5b09d8a7ee7f91268757d9b91988     5
01b44213810365eff7d555ebdb84b91cdb275271     5
845d41a896304caa3ea1a0c588bc9fc745fa24ea     4
04e60c0940bd7a022038e219c528c1e27cd042ce     4
b97b0284199acd6f6020f2a19aa479bac0b7d100     4
08eb4627a2e88b9df52f8ccc1ff3a06842cc0f2e     4
ff01c35892e59f297299c515daf5c078e91c218d     4
1dd2d566e4d7dd90fd80bb027c664acbd0e16202     4
78e37374e868872f8424b4a6e7da141d9b166f42     4
61fe6e26f16c9fa070c6c30ed176a5b8d38e0a5e     4
0583c12e151732eda5f9396edb59824009a3d6db     4
8b56b1449b1799b71be91c27cd5f96ec7c6fb426     4
81a66516e25fdc6be32e81c44ba6678d9500e478     4
0ad2210988a0842ea73d816289348d80837a2cfb     4
                                            ..
a81e6b6c3e582061dfcd084ffd112eacedcf89d3     1
a81d127d54d75e9a443eb03737fc26b75021d625     1
a81cc4040c8327eb3d90ea9f499eba21d2cb23eb     1
a81c16dec159de1284759106e2bdbdb271b1afd8     1
a81b7c9c0e4dfbe7f5073ee250c5a860560e85e1     1
a818055fca80b979b8b70a6313a9559deff40812     1
a816977c9818ccef61cbf052b643ef9369166131     1
a81673281381918e9e7a66b2c57f9a5e55147017     1
a815658225c36a6d9e8e4934d4ec66a1fabc1b71     1
a81449c3b18aad68e8ebd8f0029ebc69454372c5     1
a8129ae78d1705369e4082023aaf8bc539569089     1
a811dd3abc13ba1b2c43eeb66500d2900b8ae918     1
a8119994c2014586dd847243d3eb25dee1c12507     1
a8116d5e6adaa04f459116b88915517d4e0be8cb     1
a810bb896d749a1e94daaf91e6b4d7bf36adcaa9     1
a80dbb387134c6087a641137df3dd5cd98210fb5     1
a80db7bb7caf638387134b4988d529918bc65de6     1
a80d6d7626842643fc8b8f30f2c501cdb2e0f8e1     1
a80cd4f971f9d608b042e574bbf283745eefe527     1
a80bff3dbd2eb77764c46cf85394fd56228d043c     1
a80bfdbdc6f634e983cb6a915e6d9de059618da5     1
a808f3627c5b92b5861d558fc925c2ef4897f22c     1
a808e615d079ca4afc424c5795ced00e70f02342     1
a808cdf99fd9b08bc1b584f1fef0fd50493eb6cd     1
a808bc8ed3e95a8155da8c005ee08514ef7b10d5     1
a8089efd9d1fa9bf7347267f1dabf896e9d65cbe     1
a80867ff0d12b191c5eb56f06abb565cf7521a51     1
a80783522e1104e121cc0ad2586838b5ed129006     1
a806b58a0ab47fa745e5fd07265e2d8fbc7d4f4d     1
7fccaefc2a92ddd3ec1ed58fbd163a39ad686095     1
Length: 70170, dtype: int64

In [ ]:
# Function that selects all the songs of a user
def songs_of_user(u_id):
    return data[data["user_id"] == u_id]

This phase is not yet completed, as we have to assing a weight to the users depending on similarity (number of my songs played) with me, but right now we are going to make a rough estimation.

Let's find out which are the most popular songs amongst my "similar" users. We could order the songs by sum of play count, but ths method is very sensible to outliers (a user may have listened a hundred times to the same song), so we are going to find the most popular (most repeated) songs among these users EXCLUDING MY SELECTED_SONGS!!!!!

In [102]:
prediction_df = similar_users.merge(data[~data.song_id.isin(selected_songs)],
                   left_on = 'user_id',
                   right_on = 'user_id')

# data.merge(similar_users,
#           left_on = 'user_id',
#           right_on = 'user_id',
#           )

# data["song_id"].isin(selected_songs)


# airport_freq.merge(airports[airports.ident == 'KLAX'][['id']], 
#                    left_on='airport_ref', 
#                    right_on='id', 
#                    how='inner')[['airport_ident', 'type', 'description', 'frequency_mhz']]

In [106]:
prediction_df.user_id.unique().shape[0]

70170

In [109]:
# Let's chack that the selected songs are not in the prediction dataframe

prediction_df[prediction_df.song_id == "SORDKNX12A8C13A45F"]

# Crrect result has to be an empty dataframe

Empty DataFrame
Columns: [index, user_id, song_id, num_plays]
Index: []

In [114]:
# Let's also check that the train user is not in the prediction_df
prediction_df[prediction_df.user_id == "00000b722001882066dff9d2da8a775658053ea0"]

,index,user_id,song_id,num_plays
1338114,12098218,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338115,12098218,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338116,12098219,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338117,12098219,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338118,12098222,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338119,12098222,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338120,12098223,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338121,12098223,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338122,12098224,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338123,12098224,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338124,12098225,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338125,12098225,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338126,12098226,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338127,12098226,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338128,12098227,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338129,12098227,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338130,12098228,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338131,12098228,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338132,12098229,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338133,12098229,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1

In [115]:
# Here it is. Let's remove it
prediction_df = prediction_df[prediction_df.user_id != "00000b722001882066dff9d2da8a775658053ea0"]

In [116]:
prediction_df[prediction_df.user_id == "00000b722001882066dff9d2da8a775658053ea0"]

Empty DataFrame
Columns: [index, user_id, song_id, num_plays]
Index: []

In [ ]:
# It is not there anymore

In [127]:
# Let's now find the most played songs in the prediction dataframe
predicted_songs = prediction_df.\
                    groupby(['song_id']).\
                    size().\
                    sort_values(ascending = False).\
                    head(20).\
                    to_frame("popularity").\
                    reset_index()

In [128]:
predicted_songs.head()

              song_id  popularity
0  SOAUWYT12A81C206F1       28056
1  SOBONKR12A58A7A7E0       26453
2  SOEGIYH12A6D4FC0E3       22394
3  SOSXLTC12AF72A7F54       20894
4  SOFRQTD12A81C233C0       19347

In [129]:
# Let's see the songs in a human readable way
predicted_songs.merge(songs,
                left_on = 'song_id',
                right_on = 'song_id',
                how = 'inner')[['artist', 'title']]

,artist,title
0,Björk,Undo
1,Dwight Yoakam,You're The One
2,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
3,Kings Of Leon,Revelry
4,Harmonia,Sehr kosmisch
5,Florence + The Machine,Dog Days Are Over (Radio Edit)
6,Five Iron Frenzy,Canada
7,OneRepublic,Secrets
8,Tub Ring,Invalid
9,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...
10,Alliance Ethnik,Représente
11,Fisher,Rianna
12,Train,Hey_ Soul Sister
13,Charttraxx Karaoke,Fireflies
14,Alliance Ethnik,Sincerité Et Jalousie
15,Cosmo Vitelli,Robot Soul (Radio Edit)
16,Sam Cooke,Ain't Misbehavin
17,Usher featuring will.i.am,OMG
18,Train,Marry Me
19,Kings Of Leon,Use Somebody

In [132]:
# This would be our recommendation. Now we have to score it

In [133]:
# Let's read the test file with the rest of the songs of the user to see if he has also listened to any of our recommendations

In [134]:
datafile = os.path.join(data_root, "test_listenings.pkl")
test_list = pd.read_pickle(datafile)
test_user = pd.DataFrame(test_list, columns=['user_id', 'song_id', 'mun_plays'])
test_user.head()

                                    user_id             song_id mun_plays
0  00000b722001882066dff9d2da8a775658053ea0  SOCTXQW12A6D4F70AD         1
1  00000b722001882066dff9d2da8a775658053ea0  SOCZQCY12AC468E40F         1

In [135]:
test_user.merge(songs,
                left_on = 'song_id',
                right_on = 'song_id',
                how = 'inner')[['artist', 'title']]

                      artist                           title
0  Nick Cave & The Bad Seeds  Babe_ You Turn Me On (Paris 2)
1               Ana Carolina                     Ela É Bamba