# Mosaico Musical

### Musical recommender by Alberto Antón as a final project for the Master in Data Science of KSchool

In [44]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import io
import os
import sys

In [299]:
# display results to 3 decimal points, not in scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

### Load data

In [4]:
data_root = "data"

In [5]:
columns = ['user_id', 'song_id', 'num_plays']
datafile = os.path.join(data_root, "train_triplets.txt")
print(datafile)
data = pd.read_csv(datafile, 
                   sep='\t', 
                   header = None,
                   names = columns)
data.head()

data\train_triplets.txt

                                    user_id             song_id  num_plays
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995          1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9          1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B          2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22          1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494          1

In [6]:
data.describe()

         num_plays
count 48373586.000
mean         2.867
std          6.438
min          1.000
25%          1.000
50%          1.000
75%          3.000
max       9667.000

In [226]:
# most of the songs have been played only one time, and there are very large outliers so we will not be using
# num_plays field
data.num_plays.describe()

count   48373586.000
mean           2.867
std            6.438
min            1.000
25%            1.000
50%            1.000
75%            3.000
max         9667.000
Name: num_plays, dtype: float64

In [7]:
# Read songs dataset

In [8]:
columns = ["foo", "song_id", "artist", "title"]
datafile = os.path.join(data_root, "unique_tracks.txt")
all_songs = pd.read_csv(datafile, 
                        header = None,
                        sep = '<SEP>',
                        names = columns,
                        usecols = ["song_id", "artist", "title"],
                        encoding =  "utf-8",
                        engine = "python")

all_songs.head()

              song_id            artist              title
0  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  SOBNYVR12A8C13558C       Yerba Brava      Si Vos Querés
4  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [9]:
all_songs.describe()

                   song_id           artist   title
count              1000000          1000000  999985
unique              999056            72665  702000
top     SOUYQYY12AF72A000F  Michael Jackson   Intro
freq                     3              194    1511

In [10]:
# Number of songs in data
data.song_id.unique().shape[0]

384546

In [12]:
# Number of songs in all_songs
all_songs.song_id.unique().shape[0]

999056

In [13]:
# Let's keep only the songs that are in data
unique_songs_tmp = data.song_id.unique()
unique_songs_df = pd.DataFrame(unique_songs_tmp, columns = ['song_id'])

In [14]:
songs = unique_songs_df.merge(all_songs,
                       left_on = "song_id",
                       right_on = "song_id",
                       how = "left")[["song_id", "artist", "title"]]

In [15]:
songs.describe()

                   song_id        artist   title
count               385256        385256  385252
unique              384546         42062  306785
top     SOBPAEP12A58A77F49  Beastie Boys   Intro
freq                     3           139     526

In [16]:
songs.head()

              song_id         artist                            title
0  SOAKIMP12A8C130995   Jack Johnson                         The Cove
1  SOAPDEY12A81C210A9  Billy Preston             Nothing from Nothing
2  SOBBMDR12A8C13253B  Paco De Lucia                  Entre Dos Aguas
3  SOBFNSP12AF72A0E22     Josh Rouse            Under Cold Blue Stars
4  SOBFOVM12A58A7D494   The Dead 60s  Riot Radio (Soundtrack Version)

In [17]:
# Songs dataframe count is 385.256, while there are 384.546 unique songs. 
# The difference are duplicated songs

In [19]:
# Let's take a look
songs[songs.duplicated(subset=['song_id'], keep=False)].head(6)

                song_id         artist                title
9    SOBXHDL12A81C204C0     Kanye West             Stronger
10   SOBXHDL12A81C204C0     Kanye West             Stronger
184  SODGVGW12AC9075A8D  Justin Bieber     Somebody To Love
185  SODGVGW12AC9075A8D  Justin Bieber     Somebody To Love
191  SOKOXWU12AF72AD1BC         Eminem  The Real Slim Shady
192  SOKOXWU12AF72AD1BC         Eminem  The Real Slim Shady

In [20]:
# Remove those duplicates
songs.drop_duplicates(subset = "song_id", inplace = True)
songs.describe()

                   song_id        artist   title
count               384546        384546  384542
unique              384546         42055  306720
top     SOSSQIP12AB0186F0D  Beastie Boys   Intro
freq                     1           136     526

In [43]:
# Saving songs dataframe
songs.to_pickle("songs.pkl")

In [21]:
# Now count and unique are the same

In [46]:
# Remove all_songs from memory
all_songs = None

In [47]:
# Funcion that returns the artist and title of a song_id
def which_song(sid):
    return songs[songs["song_id"] == sid][["artist", "title"]]

In [48]:
which_song("SOSDCFG12AB0184647")

                artist title
26444  Lena Philipsson   006

As this dataset is part of a closed competition, there is no test set, so we have to create it from the train set.

If we want to recommend something to a new user, either we know something about him or we can't but recommend the most popular songs.

Let's go for the first option, so we'll present the user random songs until he selects 10 that he likes

In [49]:
# Let show random artists, then the users selects an artis an we present its songs. The users selects
# thos he likes (or none)

In [50]:
# Show random artist
songs.artist.sample(20)

160353       Clube Do Balanco
110877                Emarosa
372427       Conjunto Clasico
219499            Prem Joshua
305977             Marc Ribot
254931     Nick Glennie-Smith
123339            Fiona Apple
270419                    ZPU
78858                   Kinky
155660              The Dears
33642           The Melodians
41224      Magtens Korridorer
69090              Elton John
64753           Lucila Campos
372301                  Mia X
75538                Deadsoil
237291          Dulce Liquido
332277       Long Tall Texans
13755     Jean-Yves Thibaudet
218444                  Becky
Name: artist, dtype: object

In [136]:
# Function that shows the songs of an artist
def songs_by(artist_name):
    return songs[songs["artist"] == artist_name][["song_id", "title"]]

In [42]:
songs_by("The Waterboys")

                   song_id                                              title
23627   SOIQRKG12A6D4F63A3                            Rags (Second Amendment)
36813   SOYQYTX12AB0186FFA                                      Bury My Heart
56909   SOYCNZF12A6D4F7F87                                  Fisherman's Blues
79882   SOGEJMW12A6D4F8626           When Will We Be Married (1987 Recording)
79887   SOLPBTJ12A6D4F5757                        The Dance At The Crossroads
79900   SOPTUEN12A6D4F5751                              Every Breath Is Yours
79914   SOWICCP12A6D4F5756                Always Dancing_ Never Getting Tired
97338   SOPARQV12A58A79DC9                                      A Pagan Place
115100  SODAYPE12A6D4F7F8E                                    This Is The Sea
175762  SOLLIIT12A8C133154        A Song For The Life (2008 Digital Remaster)
188588  SOCNIWA12A6D4F921F                   December (2002 Digital Remaster)
188589  SOIBNYJ12A6D4FA7A3          The Three Day Man (2002 Digital Remaster)
188590  SOJBHVP12A6D4F91FF            Gala (Unedited) (2002 Digital Remaster)
217698  SOFITDM12A58A7C4D3                           Somebody Might Wave Back
229487  SOPQQJF12A6310D8FD      Further Up Further In (2008 Digital Remaster)
229489  SOVTHFZ12A8C1330DE                    In Search Of A Rose (Full Band)
229933  SOSDHSM12A8AE48ECF                                On My Way To Heaven
229978  SOBEOSE12A679C8094                                             Suffer
233018  SOUBGLT12AF72A97DB    It Should Have Been You (2002 Digital Remaster)
263473  SOMYLTP12A58A7CB05       A Girl Called Johnny (2002 Digital Remaster)
279819  SOARNBM12AB0186FFC  Out Of Control (BBC Radio 1's ''John Peel Show...
303893  SOIBOBB12A6D4F60BD         Savage Earth Heart (2002 Digital Remaster)
304506  SOEQNSB12A6D4F8622            When Ye Go Away (2006 Digital Remaster)
306404  SOTUGXL12AB0186FBD  Medicine Bow (Live On BBC Radio 1's ''The Tea ...
325951  SOCKSXQ12AB0183024                            My Lord_ What a Morning
372731  SOYZXHD12A6D4F7C50        In Search Of A Rose (2008 Digital Remaster)
372927  SOGGFDF12A8C134FE8    Upon The Wind And Waves (2008 Digital Remaster)
374363  SOOILCF12A8C13D3EA                                              Crown

In [ ]:
songs.sample(50)

In [ ]:
# Randomly selected songs for the test
selected_songs = ["SOBWKZB12A8C136891", "SOSWNMA12A6D4F796F", "SOXWOLZ12A8C135F54", "SONWNJJ12A67AD8492", \
                  "SOHQCOD12AB018316C", "SOFDKPU12A58A7A06A", "SOVKUHB12AAF3B3636", "SONJNVN12A6701C689", \
                  "SOMMXAD12A58A76FBF", "SOZYUBF12AB018337B"]

In [56]:
# Let's get the songs from a real user
datafile = os.path.join(data_root, "train_listenings.pkl")
user_list = pd.read_pickle(datafile)
train_user = pd.DataFrame(user_list, columns=['user_id', 'song_id', 'mun_plays'])
train_user.head()

                                    user_id             song_id mun_plays
0  00000b722001882066dff9d2da8a775658053ea0  SORDKNX12A8C13A45F         1
1  00000b722001882066dff9d2da8a775658053ea0  SOFLJQZ12A6D4FADA6         1
2  00000b722001882066dff9d2da8a775658053ea0  SOUBEXV12AB01804A4         1
3  00000b722001882066dff9d2da8a775658053ea0  SOKBXYC12A6D4F59D6         1
4  00000b722001882066dff9d2da8a775658053ea0  SOJOJUN12A8AE47E1D         1

In [57]:
train_user.describe()

                                         user_id             song_id mun_plays
count                                         10                  10        10
unique                                         1                  10         2
top     00000b722001882066dff9d2da8a775658053ea0  SOJOJUN12A8AE47E1D         1
freq                                          10                   1         9

In [59]:
# Lets make a list of songs from the train user
selected_songs = train_user['song_id']

In [88]:
# Titles of the songs played by the train user
train_user.merge(songs,
                left_on = 'song_id',
                right_on = 'song_id',
                how = 'inner')[['artist', 'title']]

                    artist                         title
0                    Giles        Replay (Album Version)
1                  Cartola                      Tive Sim
2              Miley Cyrus               Don't Walk Away
3             Jim Gaffigan    Gravy Drinker (LP Version)
4            Edwyn Collins       Superstar Talking Blues
5               Tab Benoit                     Jambalaya
6                MC Solaar               Nouveau western
7           Blue Man Group                Rods And Cones
8  John Parish / PJ Harvey                         Heela
9             Jim Gaffigan  Hooooot Pocket! (LP Version)

In [94]:
# Now let's find other users that listened to those songs
similar_users = data[data["song_id"].isin(selected_songs)]['user_id'].reset_index(name='user_id')

In [95]:
similar_users.head()

   index                                   user_id
0   2030  2b6c2f33bc0e887ea7c4411f58106805a1923280
1   3047  b6b799f34a204bd928ea014c243ddad6d0be4f8f
2   3272  732f88be38fae217f8ab7e24c20dd072436e3e40
3   4035  9fba771d9731561eba47216f6fbfc0023d88641b
4   4111  62f2f9b881dc320d745a90c0c10528d18e10deb1

In [83]:
similar_users.describe()

             index
count    75588.000
mean  24087314.656
std   13933310.624
min       2030.000
25%   11970264.750
50%   24156641.000
75%   36118919.000
max   48373263.000

In [89]:
# Create a data frame with all the songs of our similar users
# What for???
similar_users_plays = data.merge(similar_users, 
                           left_on = 'user_id', 
                           right_on = 'user_id', 
                           how = 'inner')[["user_id", "song_id", "num_plays"]]

In [90]:
similar_users_plays.head()

                                    user_id             song_id  num_plays
0  2b6c2f33bc0e887ea7c4411f58106805a1923280  SOAUWYT12A81C206F1          6
1  2b6c2f33bc0e887ea7c4411f58106805a1923280  SOBMPJM12A8C13BAE2          1
2  2b6c2f33bc0e887ea7c4411f58106805a1923280  SOBONKR12A58A7A7E0          2
3  2b6c2f33bc0e887ea7c4411f58106805a1923280  SOBYSSP12AAF3B32CA          2
4  2b6c2f33bc0e887ea7c4411f58106805a1923280  SOCBDPR12A6701F792          1

In [91]:
similar_users_plays['song_id'].describe()

count                5336240
unique                219078
top       SOFLJQZ12A6D4FADA6
freq                   60803
Name: song_id, dtype: object

In [98]:
# Let's see how many of our songs those users have played

data[data["song_id"].isin(selected_songs)].groupby(['user_id']).size().sort_values(ascending = False)

user_id
00000b722001882066dff9d2da8a775658053ea0    10
20ff5a5506da7eef77835a0fe84a006e3c525a39     6
a32cfe061d740a7236d8727946f81f1a15c7028f     6
94e3357310cd860548432d5fb68a88c3032ca1e8     6
ed6426b2069480821ad8271b8c47ddd6df2ff674     5
edb5a29d03eb009f100aab5999aceb530c07a065     5
8b8f370f1bcbea4fc8b82fda3befb80bb9533253     5
9f85a4c39ee437c73fca1cb43b09e7283a06f9de     5
970b23b0a4a725d51545c9a6e333500a48271b03     5
2343b6f1e4b7408f7463aa5c00008296a6822dbf     5
340bc3cfcc095dc8ef3a90f83839b77c232ffa58     5
70d1b8f61b9b79c4fba9f764807bff3d02e6c647     5
8e56e10637928a0bd88409211e06232ddf0f0e32     5
96c8d38bbb32ef781b96b33e50ad9c03eb62c340     5
aab42f141f70914c82ccca5cecee6942270ee588     5
44ace73d853dbe305c67dca4f1b02913e3075450     5
47988192adad5b09d8a7ee7f91268757d9b91988     5
01b44213810365eff7d555ebdb84b91cdb275271     5
845d41a896304caa3ea1a0c588bc9fc745fa24ea     4
04e60c0940bd7a022038e219c528c1e27cd042ce     4
b97b0284199acd6f6020f2a19aa479bac0b7d100     4
08eb4627a2e88b9df52f8ccc1ff3a06842cc0f2e     4
ff01c35892e59f297299c515daf5c078e91c218d     4
1dd2d566e4d7dd90fd80bb027c664acbd0e16202     4
78e37374e868872f8424b4a6e7da141d9b166f42     4
61fe6e26f16c9fa070c6c30ed176a5b8d38e0a5e     4
0583c12e151732eda5f9396edb59824009a3d6db     4
8b56b1449b1799b71be91c27cd5f96ec7c6fb426     4
81a66516e25fdc6be32e81c44ba6678d9500e478     4
0ad2210988a0842ea73d816289348d80837a2cfb     4
                                            ..
a81e6b6c3e582061dfcd084ffd112eacedcf89d3     1
a81d127d54d75e9a443eb03737fc26b75021d625     1
a81cc4040c8327eb3d90ea9f499eba21d2cb23eb     1
a81c16dec159de1284759106e2bdbdb271b1afd8     1
a81b7c9c0e4dfbe7f5073ee250c5a860560e85e1     1
a818055fca80b979b8b70a6313a9559deff40812     1
a816977c9818ccef61cbf052b643ef9369166131     1
a81673281381918e9e7a66b2c57f9a5e55147017     1
a815658225c36a6d9e8e4934d4ec66a1fabc1b71     1
a81449c3b18aad68e8ebd8f0029ebc69454372c5     1
a8129ae78d1705369e4082023aaf8bc539569089     1
a811dd3abc13ba1b2c43eeb66500d2900b8ae918     1
a8119994c2014586dd847243d3eb25dee1c12507     1
a8116d5e6adaa04f459116b88915517d4e0be8cb     1
a810bb896d749a1e94daaf91e6b4d7bf36adcaa9     1
a80dbb387134c6087a641137df3dd5cd98210fb5     1
a80db7bb7caf638387134b4988d529918bc65de6     1
a80d6d7626842643fc8b8f30f2c501cdb2e0f8e1     1
a80cd4f971f9d608b042e574bbf283745eefe527     1
a80bff3dbd2eb77764c46cf85394fd56228d043c     1
a80bfdbdc6f634e983cb6a915e6d9de059618da5     1
a808f3627c5b92b5861d558fc925c2ef4897f22c     1
a808e615d079ca4afc424c5795ced00e70f02342     1
a808cdf99fd9b08bc1b584f1fef0fd50493eb6cd     1
a808bc8ed3e95a8155da8c005ee08514ef7b10d5     1
a8089efd9d1fa9bf7347267f1dabf896e9d65cbe     1
a80867ff0d12b191c5eb56f06abb565cf7521a51     1
a80783522e1104e121cc0ad2586838b5ed129006     1
a806b58a0ab47fa745e5fd07265e2d8fbc7d4f4d     1
7fccaefc2a92ddd3ec1ed58fbd163a39ad686095     1
Length: 70170, dtype: int64

In [208]:
# Function that selects all the songs of a user
def songs_of_user(u_id):
    tmp_df = data[data["user_id"] == u_id]
    return tmp_df.merge(songs,
                left_on = 'song_id',
                right_on = 'song_id',
                how = 'inner')[['song_id', 'artist', 'title']]

This phase is not yet completed, as we have to assing a weight to the users depending on similarity (number of my songs played) with me, but right now we are going to make a rough estimation.

Let's find out which are the most popular songs amongst my "similar" users. We could order the songs by sum of play count, but ths method is very sensible to outliers (a user may have listened a hundred times to the same song), so we are going to find the most popular (most repeated) songs among these users excluding the selected songs.

In [102]:
prediction_df = similar_users.merge(data[~data.song_id.isin(selected_songs)],
                   left_on = 'user_id',
                   right_on = 'user_id')

In [106]:
prediction_df.user_id.unique().shape[0]

70170

In [109]:
# Let's chack that the selected songs are not in the prediction dataframe

prediction_df[prediction_df.song_id == "SORDKNX12A8C13A45F"]

# Crrect result has to be an empty dataframe

Empty DataFrame
Columns: [index, user_id, song_id, num_plays]
Index: []

In [114]:
# Let's also check that the train user is not in the prediction_df
prediction_df[prediction_df.user_id == "00000b722001882066dff9d2da8a775658053ea0"]

,index,user_id,song_id,num_plays
1338114,12098218,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338115,12098218,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338116,12098219,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338117,12098219,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338118,12098222,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338119,12098222,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338120,12098223,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338121,12098223,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338122,12098224,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338123,12098224,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338124,12098225,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338125,12098225,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338126,12098226,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338127,12098226,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338128,12098227,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338129,12098227,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338130,12098228,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338131,12098228,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1
1338132,12098229,00000b722001882066dff9d2da8a775658053ea0,SOCTXQW12A6D4F70AD,1
1338133,12098229,00000b722001882066dff9d2da8a775658053ea0,SOCZQCY12AC468E40F,1

In [115]:
# Here it is. Let's remove it
prediction_df = prediction_df[prediction_df.user_id != "00000b722001882066dff9d2da8a775658053ea0"]

In [116]:
prediction_df[prediction_df.user_id == "00000b722001882066dff9d2da8a775658053ea0"]

Empty DataFrame
Columns: [index, user_id, song_id, num_plays]
Index: []

In [ ]:
# It is not there anymore

In [127]:
# Let's now find the most played songs in the prediction dataframe
predicted_songs = prediction_df.\
                    groupby(['song_id']).\
                    size().\
                    sort_values(ascending = False).\
                    head(20).\
                    to_frame("popularity").\
                    reset_index()

In [128]:
predicted_songs.head()

              song_id  popularity
0  SOAUWYT12A81C206F1       28056
1  SOBONKR12A58A7A7E0       26453
2  SOEGIYH12A6D4FC0E3       22394
3  SOSXLTC12AF72A7F54       20894
4  SOFRQTD12A81C233C0       19347

In [129]:
# Let's see the songs in a human readable way
predicted_songs.merge(songs,
                left_on = 'song_id',
                right_on = 'song_id',
                how = 'inner')[['artist', 'title']]

,artist,title
0,Björk,Undo
1,Dwight Yoakam,You're The One
2,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
3,Kings Of Leon,Revelry
4,Harmonia,Sehr kosmisch
5,Florence + The Machine,Dog Days Are Over (Radio Edit)
6,Five Iron Frenzy,Canada
7,OneRepublic,Secrets
8,Tub Ring,Invalid
9,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...
10,Alliance Ethnik,Représente
11,Fisher,Rianna
12,Train,Hey_ Soul Sister
13,Charttraxx Karaoke,Fireflies
14,Alliance Ethnik,Sincerité Et Jalousie
15,Cosmo Vitelli,Robot Soul (Radio Edit)
16,Sam Cooke,Ain't Misbehavin
17,Usher featuring will.i.am,OMG
18,Train,Marry Me
19,Kings Of Leon,Use Somebody

In [132]:
# This would be our recommendation. Now we have to score it

In [133]:
# Let's read the test file with the rest of the songs of the user to see if he has also listened to any of our recommendations

In [134]:
datafile = os.path.join(data_root, "test_listenings.pkl")
test_list = pd.read_pickle(datafile)
test_user = pd.DataFrame(test_list, columns=['user_id', 'song_id', 'mun_plays'])
test_user.head()

                                    user_id             song_id mun_plays
0  00000b722001882066dff9d2da8a775658053ea0  SOCTXQW12A6D4F70AD         1
1  00000b722001882066dff9d2da8a775658053ea0  SOCZQCY12AC468E40F         1

In [135]:
test_user.merge(songs,
                left_on = 'song_id',
                right_on = 'song_id',
                how = 'inner')[['artist', 'title']]

                      artist                           title
0  Nick Cave & The Bad Seeds  Babe_ You Turn Me On (Paris 2)
1               Ana Carolina                     Ela É Bamba

In [145]:
# Let's try to find some rock songs an see the recommendation...
songs.artist.sample(50)

185851                             Batmobile
310923                  ARRESTED DEVELOPMENT
139191                                 CPM22
195024                        Cowboy Junkies
31684                           Joan Osborne
180004                                  Ween
234304                      Acoustic Alchemy
53906                                    Air
107033                            The Elders
193116                                Smokie
135791                                 Beak>
1722                       Justin Timberlake
351067                             Tori Amos
39563                               Pendulum
246879                               Anarbor
255620                         April Stevens
15068     Ol' Dirty Bastard featuring Lil Mo
132906                                  Saga
79941                            Los Angeles
207846                             Tata Bojs
108076                            Songs:Ohia
9835                                    datA
67660                         Mulatu Astatke
222194                        Robert Belfour
200198                        Puddle Of Mudd
157222                              Pavement
62066                    Peter Bradley Adams
19111                         Camera Obscura
100009                   Alex Cline Ensemble
52183                           Toni Braxton
42575                           Otis Redding
91915                            The Earlies
39102                           2raumwohnung
98568                                Jacki-O
175067                                Indexi
138622                         Crowded House
173464                                Sparks
192153                           Harold Budd
368788                              Friction
248125                   Asleep At The Wheel
229436                           Bryan White
213423                                 Stemm
36772                          Atomic Kitten
204971                          Space Buddha
292594                          Uncle Tupelo
78081                              Ofra Haza
319678                              Dominici
133884                             k.d. lang
202505                              Neuraxis
301120                 Palm Skin Productions
Name: artist, dtype: object

In [ ]:
# There seems to be a problem here as I am selecting only my songs when it would have to be just the opposite....

In [ ]:
Thrice  SORJRTI12A6D4F7D67
Clawfinger  SOSOPGB12A8C13C185
Rammstein  SOSYHME12A8C135DD8
Rancid  SOSBJSU12A8C138469
Against Me!  SONJQZM12A6D4FBE30
Millencolin  SOZVBUH12A8AE4745C
Van Halen  SOVMGEX12AC9070FF2
Led Zeppelin  SOEHJKJ12A8C13CA4D
Staind  SOUNBBX12A6D4F338E
Monster Magnet  SOJKARY12A6701ED3F
Whitesnake  SOPCNEA12A67ADF48B
Puddle Of Mudd  SOTQVSE12A6D4F8200
Green Day  SOTNYYH12A6701F94B
Metallica  SOSJRJP12A6D4F826F

In [193]:
# Randomly selected songs for the test
selected_songs = ["SORJRTI12A6D4F7D67", "SOSOPGB12A8C13C185", "SOSYHME12A8C135DD8", "SOSBJSU12A8C138469", \
                 "SONJQZM12A6D4FBE30", "SOZVBUH12A8AE4745C", "SOVMGEX12AC9070FF2", "SOEHJKJ12A8C13CA4D", \
                 "SOUNBBX12A6D4F338E", "SOJKARY12A6701ED3F", "SOPCNEA12A67ADF48B", "SOTQVSE12A6D4F8200", \
                 "SOTNYYH12A6701F94B", "SOSJRJP12A6D4F826F"]

In [194]:
# Now let's find other users that listened to those songs
similar_users = data[data["song_id"].isin(selected_songs)]['user_id'].reset_index(name='user_id')

In [195]:
similar_users.describe()

             index
count    36391.000
mean  24187498.446
std   13995662.742
min       6041.000
25%   11986777.000
50%   24291425.000
75%   36296129.500
max   48373378.000

In [196]:
# Let's see how many of our songs those users have played

data[data["song_id"].isin(selected_songs)].groupby(['user_id']).size().sort_values(ascending = False)

user_id
8fc187765f25645e802bd5137f641c8de7df17b8    4
52542a715ba72e52eec99b277a42532c88615469    4
be59c5b281f8b714c4d4d4bfb877715a93b3c64d    4
58c846a9d19a9345bffe62b212436cb49363278a    3
a883218d1e6171d4913b1dec6c083eb3fea5f914    3
b73bc9b4732c8edf790e257df7395973f8d085ef    3
3e6dd161e97e7bd0e20986e7f5e391e5d24e0a62    3
b67f2d3bea6a313bc55695517cc9b38ff5f920fa    3
07e8066fc9c82f5e700023f3c963117e874e0188    3
3f52fdf255f7043eb170a49606bebe14f6c7a08a    3
ed824982bb5d17465708f5bfbd8589af81ad4de0    3
217b76adb93cdb5d221408ad9f9c5c244a65b038    3
f106f63e74ba0648ed27e2fd59094a53c8c9c534    3
78fb080641b1b1f9b85ceffd9c1686eb8db7c765    3
748096044d04f6736c6921203f711f57fe6e31ee    3
00fc9d7d12f74bcd93fa787cc26a9c61a0904ac7    3
b161e27efcd0135dabd0cc2cfea477498667b191    3
53175b45ba820a33ac8f833a85a986a7c0f7d3d4    3
b60c2902ab24963f33d8a431bee8676a14ceb003    3
8c24607fcd3b2ca28a8eb5924c7c26d8d40e82c4    3
127c8ac775ebdce42de94ff5783ab8d8e333711f    3
58dc40ef3b13f15b889f72d6e39d239f74776cb7    3
4b7477823bb2028a0d7e55c8438dd67562bc1a2c    3
8e9a16c50c4d73339de386c5cb6e669e1a062726    3
ba4ed6ec76e02d5d83d4b3f20092ebc0777a0f0f    3
96e725ac30b49b28b92feed575c1489aa9bd72f8    3
33825a5d5b1b2ea935a9fc2f4a3cbf8e97e6280a    3
b31888d485ddff26572ffdab1c947bcc067ff3a1    3
3166206d16c682a5869b0211dbc03dc5f2050442    3
8a9dc382f60363f76354c857e0a97a98b9bc74e7    3
                                           ..
a9828c4286ff3e68b078198433d1db0ea27c87b3    1
a982bca8b7b6530215c6e20c170f114923396e83    1
a9858e9b3c7f59c7b274ee408e0ed9f77e3a2933    1
a98a8cfaaf4578d7a0066d05845ae9d38605b963    1
a98b14d995d72bbaea3baa269f86421d994c4fd4    1
a98b37cbf943a3d65d3c82e6391a654d2f600cea    1
a98e0ed2a34b12e9bac3c2ac8e6279f92a7f0cda    1
a98f14cec3549e6c72120ac87ebfc8f88ff84602    1
a9915390dffaa9726e73d18913fb176719774c8d    1
a9923a29e47da1db6da9a12cad2301b0e16f30ef    1
a99313ead88473075fe7a009c4e50e912142b863    1
a99317a0b08c8202d871e2ccc5ffbb594b9ce55f    1
a9955c344d8d531088c3844a43c10aa2df1460f6    1
a99a9471ab7a00f6b2fe93edbd0ac711c1120ff5    1
a99b919f3be3bcf022410c73145ebbadf2d570eb    1
a99b9e3cb7b6e8e1cd19398b984dd823121c2ff3    1
a99e131c91dc77d7ca62c8bd1bb2731b0e8e763d    1
a99efa8cfadf048cf3978399eb09c1625a742470    1
a99f8418e023fe2bcf1403db677371db25902e80    1
a99f8c2def554cbbbb74459fc97ba4cc4c0c3845    1
a9a5fb5400bbec3ee99625ba8c3e30dfb8d0b4e4    1
a9a6169269439d7d8721c576aa0ce693f6197146    1
a9a6b0bce2048b9e9ed134dfc7420c768c1fa7ac    1
a9acfd2dcea57aee0d770175eb09b67563528cfc    1
a9ada0dec34a058f5c803dbc9bded9fc712162c0    1
a9b143a232692c39ffda4de65e0b8bbceb1bcd1b    1
a9b2805a9703118702bf07af3fc32d077b5c3d1e    1
a9b2ab1b467f072bbec0c9a0d475d30b125e8d5a    1
a9b35be1801f66b76ba47067dbad8efca0703d7d    1
00016a61384ee18f3178063bd76d88f46c953063    1
Length: 35253, dtype: int64

In [215]:
# Create a Dataframe with the number of similar songs by user
user_similarity = data[data["song_id"].isin(selected_songs)].groupby(['user_id']).size().to_frame("similarity").reset_index()

In [224]:
user_similarity.sort_values('similarity', ascending = False).head()

                                        user_id  similarity
19668  8fc187765f25645e802bd5137f641c8de7df17b8           4
11318  52542a715ba72e52eec99b277a42532c88615469           4
26131  be59c5b281f8b714c4d4d4bfb877715a93b3c64d           4
4544   217b76adb93cdb5d221408ad9f9c5c244a65b038           3
7031   33825a5d5b1b2ea935a9fc2f4a3cbf8e97e6280a           3

In [231]:
pred_df = similar_users.\
    merge(data[~data.song_id.isin(selected_songs)], on = 'user_id').\
    merge(user_similarity, on = "user_id")[["user_id", "song_id", "similarity"]]

In [234]:
pred_df.head()

,user_id,song_id,similarity
554524,8fc187765f25645e802bd5137f641c8de7df17b8,SOWIUZC12A67020681,4
556237,8fc187765f25645e802bd5137f641c8de7df17b8,SOKXXYY12A58A7837E,4
556239,8fc187765f25645e802bd5137f641c8de7df17b8,SOKZIXI12AB018DB4F,4
556240,8fc187765f25645e802bd5137f641c8de7df17b8,SOLDJOP12AC9097630,4
556241,8fc187765f25645e802bd5137f641c8de7df17b8,SOLDLEW12A6D4F7DCB,4

In [235]:
# now we have to create a DF with the score of every song that we'll user later to order the most relevant songs
# for a specific user
max_similarity = pred_df.similarity.max()

4

In [239]:
total_plays_similar_users = pred_df.shape[0]
total_plays_similar_users

3233753

In [293]:
def song_scoring(similarity):
    return total_plays_similar_users * (similarity / max_similarity) ** 3

In [267]:
def normalizer(x, max_x, min_x):
    return (x - min_x) / (max_x - min_x)

In [268]:
# Constant values for normalization
max_sim = song_scoring(max_similarity)
min_sim = song_scoring(1)

In [269]:
print (max_sim, min_sim)

3233753.0 3157.9619140625

In [283]:
# Let's add the score of the songs
def song_scoring_norm(similarity):
    return normalizer(song_scoring(similarity), max_sim, min_sim)

In [294]:
pred_df['score'] = pred_df['similarity'].map(lambda x: song_scoring_norm(x))

In [295]:
pred_df.sample(20)

,user_id,song_id,similarity,score
644380,7c906455aa9fb4e77c3330eecc11b302abb85595,SOSQUZL12A67ADAFCB,2,0.124
515067,33121ba97455f4f3d4bf1c03db13688ca60e10a4,SOMMXAD12A58A76FBF,1,0.015
3004342,64b11e81cd9a1e0da039c43cc6ca057f4266e2f5,SODEAAU12AB01823CE,1,0.015
1384509,2435caa5cee3eb83bcd455b6e9a7b8c47c3c5998,SOEGIYH12A6D4FC0E3,1,0.015
490202,407199f76e774482245c9fa61045d506dc8c27ee,SOGVTLG12A6D4F4F1B,1,0.015
1431173,1afd981d5ec4ddb53e32f0dbc0f691e8b21ca23f,SOIYJYB12AB017DDE5,1,0.015
1601642,782a2ac9bf28358e63a343ca5a370a5c4f644b3d,SOWBNGK12A8C143932,1,0.015
2018586,d7d48d8c7ffdf65f9450e146ee8ee30e18c7ed1b,SOMKFGS12A8C13F985,1,0.015
3172455,f02ef1e670319151d2d27f4215fb16a973f7de2f,SONMPJJ12AB0183AF8,1,0.015
2383129,190032a66ad34dc88e46da82efef6dce8d8f9f7b,SOYDPWZ12AF72A27DB,1,0.015
831954,d45ef4697cc1f2aa4ec97b572b2ffeaeab4631d8,SOQIZBA12A6D4FA70F,1,0.015
631415,fabaed4ff2e9f8c452c9f2ca2cb18fbfc401a565,SOOBNUD12A6701F2F8,1,0.015
2535671,8d1946efeb04cf07f25fc6a62016a771ff9cde1b,SOPUYEJ12AF729C974,1,0.015
625117,7fa1a67eb65a6516fa2508a3964d375cd259acda,SOQZYQH12A8AE468E5,1,0.015
2104615,d31a153a82bfd6c6258f0349dd1dc58627d82820,SOFRSMQ12A8C141EF0,1,0.015
653516,452f1dd62db74048e7c20bd1635e0cc3bc5cb668,SOLRGNF12AB0187CF4,1,0.015
104846,390179c136541d2d17ce375fe197a940c536cef9,SOXHNGL12A8C134345,1,0.015
1364639,a0c168478fc912624c553edfbb35d2d2d0f91e13,SOGJYPB12A8C13679D,1,0.015
150206,cda73f666775aa276e05783f22a71fa9f07df58e,SOESREH12A8C13AD63,1,0.015
628107,8f9faba552f2e0798138ebd7d9ba5afd87def891,SOQZZOW12A58A7D2A5,1,0.015

In [296]:
# Let's summ the score of every song and order it
pred_songs = pred_df.\
                    groupby(['song_id'])['score'].\
                    sum().\
                    sort_values(ascending = False).\
                    head(20).\
                    to_frame("popularity").\
                    reset_index()

In [297]:
pred_songs.head(20)

               song_id  popularity
0   SOEGIYH12A6D4FC0E3     176.200
1   SOAUWYT12A81C206F1     153.699
2   SOSXLTC12AF72A7F54     146.857
3   SOBONKR12A58A7A7E0     135.910
4   SOFRQTD12A81C233C0     127.462
5   SOTNHIP12AB0183131     125.879
6   SOLRGNF12AB0187CF4     111.392
7   SOUVTSM12AC468F6A7     110.800
8   SOFLJQZ12A6D4FADA6     110.495
9   SONYKOW12AB01849C9     109.977
10  SOAXGDH12A8C13F8A1     109.343
11  SOZDGEW12A8C13E748     109.204
12  SOBOUPA12A6D4F81F1     104.787
13  SOOFYTN12A6D4F9B35     104.395
14  SOPQLBY12A6310E992     101.308
15  SOLLNTU12A6701CFDC      98.214
16  SOCKSGZ12A58A7CA4B      97.600
17  SOLGPOU12A58A7EA20      97.289
18  SOPUCYA12A8C13A694      97.061
19  SOCHYVZ12A6D4F5908      96.241

In [298]:
# Let's see the songs in a human readable way
pred_songs.merge(songs, on = 'song_id')[['song_id', 'artist', 'title']].head(20)

,song_id,artist,title
0,SOEGIYH12A6D4FC0E3,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
1,SOAUWYT12A81C206F1,Björk,Undo
2,SOSXLTC12AF72A7F54,Kings Of Leon,Revelry
3,SOBONKR12A58A7A7E0,Dwight Yoakam,You're The One
4,SOFRQTD12A81C233C0,Harmonia,Sehr kosmisch
5,SOTNHIP12AB0183131,Kid Cudi / Kanye West / Common,Make Her Say
6,SOLRGNF12AB0187CF4,Simon Harris,Sample Track 2
7,SOUVTSM12AC468F6A7,Lil Wayne / Eminem,Drop The World
8,SOFLJQZ12A6D4FADA6,Cartola,Tive Sim
9,SONYKOW12AB01849C9,OneRepublic,Secrets
10,SOAXGDH12A8C13F8A1,Florence + The Machine,Dog Days Are Over (Radio Edit)
11,SOZDGEW12A8C13E748,Metallica,One
12,SOBOUPA12A6D4F81F1,Alliance Ethnik,Sincerité Et Jalousie
13,SOOFYTN12A6D4F9B35,Alliance Ethnik,Représente
14,SOPQLBY12A6310E992,Radiohead,Creep (Explicit)
15,SOLLNTU12A6701CFDC,3 Doors Down,Kryptonite
16,SOCKSGZ12A58A7CA4B,Linkin Park,Bleed It Out [Live At Milton Keynes]
17,SOLGPOU12A58A7EA20,Todd Barry,Sugar Ray (LP Version)
18,SOPUCYA12A8C13A694,Five Iron Frenzy,Canada
19,SOCHYVZ12A6D4F5908,Metallica,Enter Sandman

In [ ]:
# Remove prediction_df 
|
v

In [197]:
prediction_df = similar_users.merge(data[~data.song_id.isin(selected_songs)],
                   left_on = 'user_id',
                   right_on = 'user_id')

In [198]:
prediction_df.user_id.unique().shape[0]

35253

In [225]:
prediction_df.head()

,index,user_id,song_id,num_plays
0,6041,bd64f193f0f53f09d44ff48fd52830ff2fded392,SOACIPG12A8AE47E1C,1
1,6041,bd64f193f0f53f09d44ff48fd52830ff2fded392,SOAHEEC12A6BD4DAA4,1
2,6041,bd64f193f0f53f09d44ff48fd52830ff2fded392,SOAKQBB12A8C1413A0,1
3,6041,bd64f193f0f53f09d44ff48fd52830ff2fded392,SOAVFMF12A6D4F92E6,1
4,6041,bd64f193f0f53f09d44ff48fd52830ff2fded392,SOBOLEI12A58A7E386,1

In [200]:
# Let's now find the most played songs in the prediction dataframe
predicted_songs = prediction_df.\
                    groupby(['song_id']).\
                    size().\
                    sort_values(ascending = False).\
                    head(20).\
                    to_frame("popularity").\
                    reset_index()

In [201]:
predicted_songs.head()

              song_id  popularity
0  SOEGIYH12A6D4FC0E3        8851
1  SOAUWYT12A81C206F1        8014
2  SOSXLTC12AF72A7F54        7285
3  SOBONKR12A58A7A7E0        6980
4  SOFRQTD12A81C233C0        6086

In [202]:
# Let's see the songs in a human readable way
predicted_songs.merge(songs,
                left_on = 'song_id',
                right_on = 'song_id',
                how = 'inner')[['artist', 'title']]

,artist,title
0,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...
1,Björk,Undo
2,Kings Of Leon,Revelry
3,Dwight Yoakam,You're The One
4,Harmonia,Sehr kosmisch
5,Alliance Ethnik,Représente
6,Cartola,Tive Sim
7,OneRepublic,Secrets
8,Lil Wayne / Eminem,Drop The World
9,Florence + The Machine,Dog Days Are Over (Radio Edit)
10,Alliance Ethnik,Sincerité Et Jalousie
11,J. Karjalainen & Mustat Lasit,Sinisten tähtien alla
12,Five Iron Frenzy,Canada
13,Todd Barry,Sugar Ray (LP Version)
14,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...
15,The Crests,16 Candles
16,Tub Ring,Invalid
17,Future Rock,Gears
18,Angels and Airwaves,The Gift
19,Charttraxx Karaoke,Fireflies

In [204]:
# Let's find out the most played songs in the whole dataset
most_popular_songs = data.\
                    groupby(['song_id']).\
                    size().\
                    sort_values(ascending = False).\
                    head(20).\
                    to_frame("popularity").\
                    reset_index()

In [207]:
most_popular_songs.merge(songs,
                left_on = 'song_id',
                right_on = 'song_id',
                how = 'inner')[['artist', 'title', 'popularity']]

,artist,title,popularity
0,Harmonia,Sehr kosmisch,110479
1,Björk,Undo,90476
2,Florence + The Machine,Dog Days Are Over (Radio Edit),90444
3,Dwight Yoakam,You're The One,84000
4,Kings Of Leon,Revelry,80656
5,OneRepublic,Secrets,78353
6,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...,69487
7,Charttraxx Karaoke,Fireflies,64229
8,Train,Hey_ Soul Sister,63809
9,Cartola,Tive Sim,58610
10,Usher featuring will.i.am,OMG,53260
11,Kings Of Leon,Use Somebody,52080
12,Lil Wayne / Eminem,Drop The World,51022
13,Train,Marry Me,47011
14,Five Iron Frenzy,Canada,46078
15,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,46077
16,Coldplay,The Scientist,45495
17,Coldplay,Clocks,42535
18,Kid Cudi / MGMT / Ratatat,Pursuit Of Happiness (nightmare),41811
19,Alliance Ethnik,Sincerité Et Jalousie,41093

In [ ]:
# The results are heavily affected by the popularity of the songs

In [212]:
# Let's see the songs of one of the mos similar users:
songs_of_user("b31888d485ddff26572ffdab1c947bcc067ff3a1")

,song_id,artist,title
0,SOAAIEC12AAA8C87CE,A Brand,Time
1,SOACHPF12A6D4FA64D,Pet Shop Boys,Left To My Own Devices (2001 Digital Remaster)
2,SOALAMU12AB018271A,Lagwagon,Razor Burn
3,SOANQFY12AB0183239,Muse,Uprising
4,SOAVGNJ12A58A7DA4D,Phil Collins,Something Happened On The Way To Heaven
5,SOAYAYU12AB018436A,This Or The Apocalypse,Memento Mori
6,SOAYZOQ12AB018C013,Six Ft Ditch,Six Feet Deep
7,SOBANAT12A6D4F7501,Red Hot Chili Peppers,Naked In The Rain (Album Version)
8,SOBAUXH12A67ADD86C,Ok Go,Here It Goes Again
9,SOBHXKP12AB017EC82,Fear Factory,Dog Day Sunrise (Album Version)
10,SOBJUKG12A58A7DCA8,Phil Collins,Two Hearts
11,SOBMDHU12A6D4FB3B7,Enter Shikari,Labyrinth
12,SOBMNXE12A8C140F8A,Bad Religion,Infected
13,SOBPCUB12AB017EDC9,Macabre,Exposure
14,SOBQBXE12AF72A0750,Elbow,Station Approach
15,SOBXCIK12AB018AB13,Six Ft Ditch,Murder One
16,SOCAEOC12AF729FA2B,Sonic Youth,Hey Joni
17,SOCGVMO12A67AE24CC,Muse,Bliss
18,SOCKJVP12A6D4F920C,Faith No More,Epic
19,SOCKZIS12A8AE47FE0,Arcade Fire,Neighborhood #1 (Tunnels)
20,SOCKZIV12A8C13A78F,U.S. Bombs,Jaks
21,SOCLPDA12AF72A730A,HYPOCRISY,Orgy In Blood
22,SOCNVQU12A58A7DB65,The Wombats,Let's Dance To Joy Division (Full Length Version)
23,SOCQOKM12AB018C7F8,Holy Fuck,Latin America
24,SOCUVGM12B3505571C,Sonic Youth,Total Trash
25,SOCVBFV12A6701FB94,No Doubt,Don't Speak
26,SOCXMLX12AB017ACA6,Descendents,Catalina
27,SODBZZL12AAF3B529D,Cage The Elephant,In One Ear (New Radio Edit)
28,SODEYDM12A58A77072,Cut Copy,Lights & Music
29,SODFDJT12A8C13A08E,Reel Big Fish,Beer
...,...,...,...
244,SOXFYTY127E9433E7D,Luke Bryan,Do I
245,SOXGSWF12A8C13D373,Cage The Elephant,Psycho Killer
246,SOXHMJM12A58A7A33A,Phil Collins,Dance Into The Light (LP Version)
247,SOXKCPM12AB01818C8,Cold Cave,Love Comes Close
248,SOXKXKX12A8C144BB2,New Order,Love Vigilantes
249,SOXNNAE12A6D4F7BC1,Thrice,Stare At The Sun
250,SOXPHRU12AB017AE29,PJ Harvey / John Parish,Black Hearted Love
251,SOXQFGA12A6701F7A9,Rob Zombie,Feel So Numb
252,SOXTBGF12A6D4FB49C,Interpol,Slow Hands
253,SOXVVSM12A8C142224,Foo Fighters,Everlong
254,SOXYJJQ12B0B807ABD,Me First And The Gimme Gimmes,Leaving On A Jet Plane
255,SOXYSXW12A8AE471D8,Cynic,Sentiment (Album Version)
256,SOXYWRN12A8C13B7D2,The Hollies,I'm Down
257,SOXZUAV12A6310F21A,Depeche Mode,Personal Jesus
258,SOYAISX12AB01899D9,Eyes Set to Kill,Inside the Eye
259,SOYFNTP12A8C1390DB,HYPOCRISY,Exclamation Of A Necrofag
260,SOYHHHT12A6D4F7F97,Phil Collins,One More Night
261,SOYIPSF12A58A76B92,Cynic,How Could I (Album Version)
262,SOYMDXJ12A58A7C15B,The Big Pink,Velvet
263,SOYNJCS12A67ADE35F,Bloc Party,Banquet
264,SOYODMM12AB01858F2,Blue Man Group,White Rabbit [Featuring Esthero]
265,SOYOMRA12A6D4F9975,Phil Collins,You Can't Hurry Love
266,SOYSDEF12AB0182F92,This Or The Apocalypse,Monuments
267,SOYYPAO12A58810E91,Bouncing Souls_ The,Private Radio
268,SOZMLQH12A6D4F556A,Rob Zombie,American Witch
269,SOZSVHQ12AB017DB13,The Mars Volta,Drunkship Of Lanterns
270,SOZVVMJ12A58A7C548,Rage Against The Machine,Bulls On Parade
271,SOZXLPJ12A6701F7AB,Rob Zombie,Demon Speeding
272,SOZYIQR12A58A7DB25,Disturbed,Overburdened (Album Version)
273,SOZZZPV12A8C1444B5,Blacks ft. P Money,Fall Back

In [190]:
group = songs_by("Metallica")

In [191]:

group.head(100)

                   song_id                                   title
1164    SOOEEPE12A8AE459A4                      The Unforgiven III
1432    SOZATKE12A6D4F5915                                   2 X 4
1622    SOGAUIQ12A6D4F8262                          Hit The Lights
1669    SOUGBIM12A6D4F8247                       The Four Horsemen
1743    SOCHYVZ12A6D4F5908                           Enter Sandman
1822    SOZDGEW12A8C13E748                                     One
1829    SOGMBXD12A6D4F5920                                  Ronnie
4779    SOJSRYJ12A6D4F824C                            Phantom Lord
4789    SOMTBXX12AF729F5A6                              Am I Evil?
4803    SORIEXB12A6D4F824D                              No Remorse
4804    SORMSJW12A6D4F824F                           Metal Militia
4816    SOXKNEB12A6D4F824A             (Anaesthesia) Pulling Teath
4865    SOKIORP12A6D4F5917                         Until It Sleeps
6404    SOSHZYN12A6D4F5925                       The Unforgiven II
6461    SOSJRJP12A6D4F826F                       Master Of Puppets
9346    SOITRTA12A6D4F8261                      Ride The Lightning
9381    SOUZJMM12A6D4F5911                     The God That Failed
10391   SOMCHKO12A58A7849A                          Shoot Me Again
10649   SOCIRNW12A6D4F5948                      Stone Dead Forever
11711   SOMAIEW12A6D4F591E                               Mama Said
11746   SOSWDMO12A8AE45996                The Day That Never Comes
11924   SOPNXGM12A6D4F591B                                    Cure
11930   SOUOIWT12A8C142D8C                             Bleeding Me
14723   SOAEEMQ12A8C142D36                     The Ecstasy Of Gold
16048   SOKYMHM12A6D4F8270            The Thing That Should Not Be
16663   SOLNDXN1280EC900A1                                Loverman
16665   SONCQKA12A6D4F825E                             Damage Inc.
16679   SOUYXJU12A8AE45993                  Broken_ Beat & Scarred
19666   SOAWFKO129F06933A7               Welcome Home (Sanitarium)
19692   SOQDMXT12A6D4F8255                           Fade To Black
...                    ...                                     ...
27510   SOCWSNN12A6D4F825C                    Some Kind Of Monster
31217   SOIHJML12A6D4F5944                                 So What
32320   SOVXERM12A8C142468                             Outlaw Torn
32327   SOVZVGK12A8C142DB7                     Wherever I May Roam
32342   SOFKBKR12A8AE4598E                     The End Of The Line
32702   SOGHOFP12A8C142D78                          No Leaf Clover
32948   SOOXPVT12A58A78491                                My World
34743   SODAWDD12A6D4F825A                 For Whom The Bell Tolls
34746   SODEMBR12A6D4F5929                                Bad Seed
34876   SOKFLTD12A8C142D54                         Of Wolf And Man
45462   SOGQPOC12A6D4F5938                          Tuesday's Gone
51396   SOWJMGE12A6D4F58B7                                 Battery
51462   SOYCNOY12A6D4F5935                           Mercyful Fate
52398   SOBWDJL12A6D4F825B                          Creeping Death
52436   SOSOWFW12A58A7B97C                            Killing Time
57623   SOWVCXK12A6D4F591F                            Thorn Within
65223   SOZRSGF12A8C13E458                           Enter Sandman
69059   SOKMBHN12A6D4F5931                          Sabbra Cadabra
76354   SOJPYOR12A6D4F5928                         Carpe Diem Baby
84170   SONKMPN12A6D4F5927                                 Slither
84172   SOVRLVW12A81C1FFE9                            Dirty Window
96259   SOBRWBK12A8C13E784                  ...And Justice For All
100078  SOWNJYY12A81C20010  The Unnamed Feeling (Explicit Version)
135023  SOPXTQW12A6D4F58B8        The Thing That You Should Not Be
140722  SOUXLOB12A8C142D42                   The Call Of The Ktulu
168722  SOPFRZX12A6D4F8263                    Some Kind Of Monster
227981  SOEWAYK12A8C142D83                           Devil's Dance
265787  SOBCPOL12AB01809A5                          Creeping Death
319010  SOTRJPW12A8C142D96                    Nothing Else Matters
322807  SOUSUUO12A6D4F590E                       Through The Never

[75 rows x 2 columns]

In [177]:
group[group.title == "Jump (Album Version)"]

                  song_id                 title
60240  SOVMGEX12AC9070FF2  Jump (Album Version)